@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.header{
    width: 100%;
    height: 80px;
    text-align: center;
    background: #292929;
    color: white;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: solid 3px #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.header-search:nth-child(2){
    display: flex;
    justify-self: flex-end;
}